.icon-pay{
	background:url(icons/pay.png) no-repeat;
}
.icon-cal{
	background:url(icons/cal.png) no-repeat;
}
.icon-changecost{
	background:url(icons/change_money.png) no-repeat;
}
.icon-stypng{
	background:url(icons/stypng.png) no-repeat;
}
.icon-mktpng{
	background:url(icons/mktpng.png) no-repeat;
}
.icon-exit{
	background:url(icons/t_exit.png) no-repeat;
}
.icon-find{
	background:url(icons/query.png) no-repeat;
}
.icon-fujian1{
	background:url(icons/fujian1.png) no-repeat;
}
.icon-fujian{
	background:url(icons/fujian.png) no-repeat;
}

.icon-sign1{
	background:url(icons/sign1.gif) no-repeat;
}
.icon-camera{
	background:url(icons/camera.png) no-repeat;
}
.icon-chartline{
	background:url(icons/chart_line.png) no-repeat;
}
.icon-warnning{
	background:url(icons/warnning.png) no-repeat;
}
.icon-sign{
	background:url(icons/sign-up.png) no-repeat;
}
.icon-house{
	background:url(icons/house.png) no-repeat;
}
.icon-linechart{
	background:url(icons/linechart.png) no-repeat;
}
.icon-truck{
	background:url(icons/truck.png) no-repeat;
}
.icon-worker{
	background:url(icons/worker.png) no-repeat;
}
.icon-human{
	background:url(icons/human.png) no-repeat;
}
.icon-building{
	background:url(icons/building.png) no-repeat;
}
.icon-wrench{
	background:url(icons/wrench.png) no-repeat;
}
.icon-workflow{
	background:url(icons/workflow.png) no-repeat;
}
.icon-message{
	background:url(icons/message.png) no-repeat;
}
.icon-excel{
	background:url(icons/excel.png) no-repeat;
}
.icon-clear{
	background:url(icons/clear.png) no-repeat;
}
.icon-user{
	background:url(icons/user.png) no-repeat;
}
.icon-clip{
	background:url(icons/clip.png) no-repeat;
}
.icon-sign-up{
	background:url(icons/sign-up.png) no-repeat;
}
.icon-new{
	background:url(icons/new.gif) no-repeat;
}
.icon-collapse{
	background:url(icons/collapse.gif) no-repeat;
}
.icon-Wrench{
	background:url(icons/Wrench_config_16px_1063540_easyicon.net.png) no-repeat;
}
.icon-folder2{
	background:url(icons/folder2.png) no-repeat;
}
.icon-collapse{
	background:url(icons/collapse.png) no-repeat;
}
.icon-node{
	background:url(icons/node.png) no-repeat;
}

.icon-one{
	background:url(icons/number-one.png) no-repeat;
}
.icon-two{
	background:url(icons/number-two.png) no-repeat;
}
.icon-three{
	background:url(icons/number-three.png) no-repeat;
}
.icon-four{
	background:url(icons/number-four.png) no-repeat;
}
.icon-five{
	background:url(icons/number-five.png) no-repeat;
}
.icon-six{
	background:url(icons/number-six.png) no-repeat;
}
.icon-seven{
	background:url(icons/number-seven.png) no-repeat;
}