<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<script th:src="@{/miniui/boot.js}" type="text/javascript" charset="utf-8"></script>

<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form id="form" method="post">
        <div id="panel" class="mini-panel" title="查询条件" style="width: 60%;" showToolbar="true"
             iconCls="icon-search" showCollapseButton="true" showFooter="true" allowResize="true"
             collapseOnTitleClick="true" expanded="true">
            <table align="center">
                <tr>
                    <td class="form-lable">id</td>
                    <td>
                        <input id="id" name="id" class="mini-textbox" style="width: 120px;"/>
                    </td>
                    <td class="form-lable">用户名</td>
                    <td>
                        <input id="username" name="username" class="mini-textbox" style="width: 120px;"/>
                    </td>
                    <td class="form-lable">中文名</td>
                    <td>
                        <input id="chinesename" name="chinesename" class="mini-textbox" style="width: 120px;"/>
                    </td>

                    <td align="center" width=20%>
                        <a class="mini-button" onclick="queryClick()" iconCls="icon-find" width="77px">查询</a>
                        <a class="mini-button" onclick="resetClick()" iconCls="icon-clear" width="77px">重置</a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div style="width: 60%;">
        <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;" align="right">
                        <a class="mini-button" iconCls="icon-add" onclick="addRow()" plain="true">添加</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="datagrid1" class="mini-datagrid" style="width:60%;height:450px;" allowCellEdit="true" allowCellSelect="true"
    url="http://localhost:8080/user/userList">
        <div property="columns">
            <div field="id" name="id" width="150" headerAlign="center" align="center" allowSort="true">用户名id
                <input property="editor" class="mini-textbox" style="width:100%;"/></div>
            <div field="username" name="username" width="150" headerAlign="center" align="center" allowSort="true">用户名
                <input property="editor" class="mini-textbox" style="width:100%;"/></div>
            <div field="chinesename" name="chinesename" width="150" headerAlign="center" align="center" allowSort="true">中文名
                <input property="editor" class="mini-textbox" style="width:100%;"/></div>
            <div field="path" name="path" width="150" headerAlign="center" align="center" allowSort="true">跳转路径
                <input property="editor" class="mini-textbox" style="width:100%;"/></div>
            <div field="level" name="level" width="100" headerAlign="center" align="center" allowSort="true" type="comboboxcolumn">等级
                <input property="editor" class="mini-combobox" textField="label" valueField="value" style="width:100%;" data="[{value:'1',label:'普通管理员'},{value:'2',label:'普通用户'}] "/></div>
            <div field="status" name="status" width="110" headerAlign="center" align="center" allowSort="true">状态
                <input property="editor" class="mini-textbox" style="width:100%;"/></div>
            <div field="creatdate" name="creatdate" width="150" headerAlign="center" align="center" allowSort="true" dateFormat="yyyy-MM-dd">创建时间
                <input property="editor" class="mini-datepicker" style="width:100%;"/></div>
            <div name="action" width="120" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;">操作</div>
        </div>
    </div>


</body>
<script type="text/javascript">
    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load();

    function addRow() {
        var row = {"state":"add"};
        grid.addRow(row, 0);

        grid.cancelEdit();
        grid.beginEditRow(row);
    }

    function delRow(row_uid) {
        var row = grid.getRowByUID(row_uid);
        if (row.id) {
            if (mini.confirm("确定删除此记录？")) {
                grid.loading("删除中，请稍后......");
                $.ajax({
                    url: "http://localhost:8080/user/deleteById/" + row.id,
                    success: function (text) {
                        grid.reload();
                    },
                    error: function () {
                    }
                });
            }
        }else{
            grid.reload();
        }
    }

    function updateRow(row_uid) {
        debugger;
        var row = grid.getRowByUID(row_uid);

        grid.commitEdit();

        grid.loading("保存中，请稍后......");
        var json = mini.encode(row);

        $.ajax({
            url: "http://localhost:8080/user/save",
            type: "POST",
            contentType : 'application/json;charset=utf-8',
            dataType:"json",
            data: json ,
            success: function (text) {
                mini.alert(text.message);
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });

    }
    function onActionRenderer(e) {
        var record = e.record;
        var uid = record._uid;
        var row = e.row;
        if(row.state == "add"){
            s = ' <a class="Update_Button" href="javascript:updateRow(\'' + uid + '\')"> 保存</a>'
                + ' <a class="Cancel_Button" href="javascript:delRow(\'' + uid + '\')"> 删除</a>'
        }else{
            s = ' <a class="Update_Button" href="javascript:updateRow(\'' + uid + '\')"> 修改</a>'
                + ' <a class="Cancel_Button" href="javascript:delRow(\'' + uid + '\')"> 删除</a>'
        }
        return s;
    }
    function queryClick() {
        debugger;
        var form = new mini.Form("#form");
        var data = form.getData();
        grid.load(data);
    }

    function resetClick() {
        var form = new mini.Form("#form");
        form.clear();
    }

</script>
</html>